#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     /*text-align: left;*/
    color: #2c3e50;
    margin: 0rem 0rem 0rem 0rem;
}

.container{
    margin: 5rem 10rem 5rem 10rem;
    float: center;
    position: relative;
}
.information{
    position: relative;
    margin: 0rem 0rem 1rem 0rem;
    text-align:left;
}
.data{
    position: relative;
    margin: 1rem 0rem 1rem 0rem;
    position: relative;
    text-align:left;
    font-size:16px;
}
title{
    text-align:left;
    font-size:16px;
    /*color: #969696;*/
    font-weight: bolder;
    display: block;
}

p{
    text-align:left;
    font-size:16px;
}

h1{
    text-align:left;
    font-size:32px;
    font-weight: bold;

}


