<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,user-scalable=no, viewport-fit=cover">
    <title>Smart Spirometer Statistics</title>
    <link rel="stylesheet" href='../static/style.css'/>
</head>
<body>
    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>
    <div class = 'container'>
        <H1>Statistics</H1>
        <p>
            'time:' {{timeNow}} <br>
            'goal:' {{goal}} <br>
            'achieved:' {{achieved}} <br>
        </p>
    </div>
</body>
  <script src="/static/data_vis.js"></script>
</html>
