<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,shrink-to-fit=no,user-scalable=no, viewport-fit=cover">
    <title>Smart Spirometer Statistics</title>
    <link rel="stylesheet" href='../static/style.css'/>
</head>
<body>
    <script src="https://www.gstatic.com/firebasejs/5.8.5/firebase.js"></script>
    <div class = 'container'>
        <div class = 'information'>
        <h1>Statistics</h1>
        </div>
        <div class = 'information'>
        <div class = 'data' id="sum">
{#            'key:' {{keys}} <br>#}
{#            'values:' {{values}} <br>#}
        </div>
        <div class = 'data' id='timeline' >
        </div>
        <div class = 'data' id = 'details'>
        </div>
        <div class = 'data' id = 'pattern'>
        </div>
        <div class = 'data' id = 'threshold'>
        </div>

        </div>
    </div>
</body>
  <script src="/static/data_vis.js"></script>
</html>
